* {
    box-sizing: border-box;
    word-wrap: break-word;
    outline-color: #c29974;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
}

a {
    color: #1e0606;
    text-decoration: none;
}

h2 {
    font-family:"Montserrat", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
    margin: 0;
}

h4 {
    font-family:"Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #aaaaaa;
    padding: 0 0 23px 0;
    border-bottom: 22px;
    border-color: #585858;
    border-bottom: 1px solid;
    border-color: #585858;
    margin: 0;
    margin-right: 20px;
}

.footer__contacts h5 {
    margin: 0;
}

.footer__menu ul,
.footer__info ul {
    margin-top: 25px;
}

h3 {
    font-family: "Montserrat", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #c29974;
}

.button {
    background: #000000;
    color: #ffffff;
    padding: 9px 22px 9px 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline-color: #c29974;
}

.button:hover {
    background: #c29974;
}

.button:active {
    background: #cfaf91;
}

.hidden {
    font-size: 0;
    height: 0;
    width: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.undoted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.delivery__heading,
.about__heading,
.products__heading {
    font-family:"Crimson Text", "Comic Sans MS", "sans-serif";
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1e0606;
}

.delivery__link,
.product__link {
    font-family: "Crimson Text", "Comic Sans MS", "sans-serif";
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #1e0606;
}
.all__money {
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #1e0606;
    margin-bottom: 41px;
}
/*  BREADCRUMB */
.breadcrumb {
    margin-bottom: 50px;
}

.breadcrumb__heading {
    margin-bottom: 50px;
}

.breadcrumb__item {
    display: flex;
    font-family: "Crimson Text", "Comic Sans MS", "sans-serif";
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
    margin-right: 20px;
    align-items: center;
    letter-spacing: 1px;
}

.breadcrumb__link {
    text-transform: capitalize;
}

.breadcrumb__link_active {
    color: #1e0606;
    opacity: 0.5;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
}

.breadcrumb__list li + li:before {
    color: black;
    content: " >";
    margin-right: 20px;
}

/*contact form*/
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
    margin-bottom: 3px;
}

input {
    height: 50px;
}
input:focus,
textarea:focus {
    border-color: #c29974;
}
input::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
}

input,
textarea {
    border: 2px solid #cccccc;
    padding: 14px 20px;
    outline: none;
    resize: none;
}
.label-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.field_2_column {
    display: flex;
    justify-content: space-between;
}

.field_2_column .label-wrapper:nth-child(1) {
    padding-right: 20px;
}
.checkbox-input,
.radio-input {
    display: none;
}

.checkbox-label {
    position: relative;
    font-family: "Roboto", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1e0606;
    cursor: pointer;
    padding-left: 35px;
}
.checkbox-label::before {
    top: 0;
    left: -3px;
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #c29974;
    border-radius: 4px;
    width: 16px;
    height: 17px;
    background: transparent;
}

.checkbox-label::after {
    top: 2px;
    left: 1px;
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    width: 16px;
    height: 15px;
    background-image: url(../img/index/v_simbol.svg);
    opacity: 0;
}
.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

/*HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background: #ffffff;
}

.header__nav {
    margin: 0 auto 0 60px;
}

.header__list {
    display: flex;
    margin: 0;
}

.header__link a {
    margin-right: 7px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 20px;
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-right: 40px;
}

.header__loop {
    margin-right: 34px;
}
.header-link {
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;
    margin-right: 3px;
}

.logo:hover,
.header__link:hover,
.header__loop:hover,
.header-link:hover {
    opacity: 0.6;
}

.logo:active,
.header__link:active,
.header__loop:active,
.header-link:active {
    opacity: 0.2;
}

.header:checked {
    background-color: yellow;
}

/*Footer*/
footer {
    background: #434343;
    max-width: 1400px;
    margin: auto;
    padding: 100px 0px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer__nav {
    display: flex;
}

.footer__menu {
    max-width: 400px;
    width: 100%;
    margin-bottom: 11px;
}

.footer__info {
    max-width: 400px;
    width: 100%;
}

.footer__contacts {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer__list > li > a {
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
.footer__list > li {
    margin: 17px auto;
}

.footer__endinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid;
    border-color: #585858;
    margin: 0;
}
.footer__endinfo,
.footer__endinfo > a {
    font-family: "Open Sans", "Comic Sans MS", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.footer__endinfo a {
    margin-left: 81px;
    margin-right: 38px;
}
.footer__facebook {
    display: flex;
}

.footer__form {
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer__form button {
    width: 68px;
    height: 40px;
    align-items: center;
    display: flex;
}

.footer__fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.footer__fieldset label {
    margin-bottom: 0;
}
.footer__input {
    width: 312px;
    height: 40px;
    background-color: #666666;
    border: 1px solid transparent;
    outline: none;
    color: #ffffff;
}

.footer__input:hover,
.footer__input:focus {
    border: 1px solid #c29974;
}

.footer__fieldset input::placeholder {
    font-family: "Open Sans", "Comic Sans MS", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ebebeb;
}

.footer__linklist {
    display: flex;
}

.footer__linklist li {
    margin: 0;
    margin-right: 10px;
}

.footer__linklist li:hover,
.footer__list li:hover {
    opacity: 0.6;
}

.footer__raiting {
    align-items: center;
    display: flex;
}
.footer__raiting a {
    margin-right: 97px;
    margin-left: 63px;
}

.footer__raiting p {
    margin-top: 21px;
    margin-right: 20px;
}

.rating_block {
    width: 150px;
    height: 25px;
    padding-top: 10px;
    padding-left: -13px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating_block label {
    margin-right: -4px;
}
.rating_block input[type="radio"] {
    display: none;
}
.label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/img/index/Star.svg) no-repeat 50% 0;
    cursor: pointer;
}

.rating_block .label_rating:hover, 
  .rating_block .label_rating:hover ~ .label_rating, 
  .rating_block input[type="radio"]:checked ~ .label_rating {
    background: url(/img/index/star_bright.svg) no-repeat 50% 0;
}
