.contactus__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606; 
}

.contact-us {
    display: flex;
    
}

.contact__form {
    max-width: 680px;
    background: #e5eaf8;
    padding: 42px 40px;
    margin: 0 auto;
    margin-right: 120px;
    width: 100%;
}

.text_widht{
    max-width: 32%;
}

