/* Banner*/
.banner {
    background: #EEE4DB;
    margin-top: 129px;
    display: flex;
    flex-direction: column;
}

.banner__wrapper {
    display: flex;
}

.banner_num {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    
}

.banner__list {
    flex-direction: column;
  }


.banner__btn {
    width: 31px;
    height: 3px;
    background: #d6cac2;
    border: none;
    cursor: pointer;
}

.banner__btn:hover {
    background: rgba(30,6,6,0.6);
}

.banner__btn_on {
    background: rgba(30,6,6,0.6);
}

.banner__screen {
    margin-left: 28px;
    margin-top: 17px
}

.banner__head {
    margin-left: 44px;
    margin-top: 89px;
}

.banner__title {
    max-width: 60%;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
  }
  
.banner__heading {
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
    text-transform: none;
  }


.banner__img {
    max-width: 635px;
    right: 100px;
    left: 445px;
    bottom: 0;
    margin-left: 445px;
    margin-top: -372px;
  }

.banner__link {
    display: block;
    padding: 11px;
    background-color: #c29974;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    
}


/*Services*/
.services {
    margin-top: 90px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.services__li {
    max-width: 280px;
    padding: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__img_one {
    background: url(../img/index/clothes\ for\ boys.png) ;
    background-color: #DBE4DB;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.services__img_two {
    background:  url(../img/index/holidays.png) ;
    background-color: #EADDD3;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.services__img_three {
    background:url(../img/index/toys.png) ;
    background-color: #F8F2DA;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    width: 100%;
}
.services__img_four {
    background: url(../img/index/accessories.png);
    background-color: #D5D4E1;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.services__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);    
}

.services__text:hover, .services__text:active {
    text-decoration: underline;
    text-decoration-skip-ink:none;
    color: #fff;
    
}

.services__arrow {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.services__arrow > p {
    max-width: 60%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606; 
    margin-left: 20px;
}

.services__arrow-left {
    background-image:url() ;
}

.services__arrow-right {
    background-image:url() ;
    margin-left: 6px;
}
.services__arrow-left, .services__arrow-right {
    width: 35px;
    height: 37px;
    background: #70bbdc33;
    margin-right: 6px;
    border: transparent;
}

/*Delivery*/

.delivery {
    display: flex;
    margin-top: 90px;
}

.delivery__img {
    background-color: #BEDAE6;
    max-width: 480px;
}
.delivery__title {
    padding-left: 60px;
}
.delivery__info {
    max-width: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 45px 60px;
    justify-content: space-between;
}
.delivery__list {
    display: flex;
    flex-direction: column;
}


.delivery__item {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.delivery__item_wrap {
    background: rgba(112,187,220,0.2);
    padding: 11px 135px 11px 60px;
}

.delivery__text {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0;
    margin-bottom: 11px;
    padding-left: 60px;
}



.button_delivery {
    margin-top: 10px;
    margin-left: 60px;
}


/*Awards*/

.awards {
    margin-top: 90px;
}

.awards__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.about__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606; 
}

/*About*/
.about {
    display: flex;
    margin: 92px auto 58px;
}
.about__wrapper, .about__wrapper_padding {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: #e1f0f7;
    padding-bottom: 35px;
    align-items: baseline;
    padding-right: 30px;
}

.about__wrapper_padding {
    padding-bottom: 70px;
}
.about__design {
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 543px;
    
}

.about__contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 57px;
    width: 543px;
}
.about__title-design,
.about__title-contacts {
    margin-top: -25px;
    margin-bottom: 10px;
}

.about__heading {
    margin-top: -15px;
    padding: 30px 0 10px 0;
    margin-bottom: 0;
}

.about__text {
    margin: 0px;
    padding: 10px 0 20px 0;
}

.about__map {
    margin-top: -70px;
}
.map__wrapper {
    align-self: center;
}

.about__button {
    
}